# Pinned requirements
#Very essential

1 )    Django==1.11.29
2 )    Pillow==3.2.0
3 )    aldryn-boilerplates==0.7.7
4 )    aldryn-common==1.0.4
5 )    aldryn-search==1.1.0
6 )    git+git://github.com/aldryn/aldryn-video
7 )    boto==2.39.0
8 )    cssmin==0.2.0
9 )    dj-database-url==0.4.0
10 )   django-appconf==1.0.3
11 )   django-classy-tags==0.9.0
12 )   django-cms==3.4.7
13 )   django-compressor==2.4
14 )   django-csp==3.7
15 )   django-countries==5.5
16 )   django-haystack==2.8.0
17 )   django-redis==4.8.0
18 )   django-formtools==2.1
19 )   django-markdown-deux==1.0.5
20 )   django-mptt==0.9.1
21 )   django-pagedown==1.0.6
22 )   django-reversion==2.0.13
23 )   django-s3-folder-storage==0.5 # TODO: this one might be an issue?
24 )   django-sekizai==1.1.0
25 )   django-storages==1.9.1
26 )   django-treebeard==4.3.1
27 )   djangocms-admin-style==1.5.0
28 )   djangocms-file==2.4.0
29 )   djangocms-googlemap==1.4.0
30 )   djangocms-link==2.6.1
31 )   djangocms-picture==2.4.0
32 )   djangocms-text-ckeditor==3.10.0
33 )   feedparser==5.2.1
34 )   gunicorn==19.4.5
35 )   html5lib==1.1
36 )   iso3166==0.7
37 )   libsass==0.11.1
38 )   markdown2==2.3.1
39 )   topicaxis-opengraph==0.5
40 )   psycopg2==2.8.3
41 )   elasticsearch==2.3.0
51 )   requests==2.9.1
52 )   six==1.12.0
53 )   rcssmin==1.0.6
54 )   rjsmin==1.1.0
55 )   pytz==2018.4
56 )   redis==2.10.6
57 )   python-dotenv==0.8.2
58 )   whoosh==2.7.4
59 )   jsonfield==2
60 )   easy-thumbnails==2.6
61 )   django-filer==1.6.0
71 )   beautifulsoup4==4.9.1
